<!DOCTYPE html>
<html lang="en">

<head>
    <title>UKSC | Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">



</head>

<body>

    <div class="site-wrap">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>


        <header class="site-navbar py-4" role="banner">

            <div class="container">
                <div class="d-flex align-items-center">
                    <div class="site-logo">
                        <a href="index.html">
                            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
                        </a>
                    </div>
                    <div class="ml-auto">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                                <li class="active"><a href="index.html" class="nav-link">Home</a></li>
                                <li><a href="{{ url_for('matches') }}" class="nav-link">Matches</a></li>
                                <li><a href="{{ url_for('players') }}" class="nav-link">Players</a></li>
                                <li><a href="{{ url_for('academy') }}" class="nav-link">Academy Registration</a></li>
                                <li><a href="{{ url_for('about_us')}}" class="nav-link">About Us</a></li>
                                <li><a href="{{ url_for('contact')}}" class="nav-link">Contact</a></li>
                            </ul>
                        </nav>



                        <div class="container site-section">
                            <div class="row">
                                <div class="col-6 title-section">
                                    <h2 class="heading">Our Blog</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="custom-media d-flex">
                                        <div class="img mr-4">
                                            <img src="{{ url_for('static', filename='images/img_1.jpg') }}" alt="Image"
                                                class="img-fluid">
                                        </div>
                                        <div class="text">
                                            <span class="meta">May 20, 2020</span>
                                            <h3 class="mb-4"><a href="#">Romolu to stay at Real Nadrid?</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus
                                                deserunt saepe tempora dolorem.</p>
                                            <p><a href="#">Read more</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="custom-media d-flex">
                                        <div class="img mr-4">
                                            <img src="{{ url_for('static', filename='images/img_3.jpg') }}" alt="Image"
                                                class="img-fluid">
                                        </div>
                                        <div class="text">
                                            <span class="meta">May 20, 2020</span>
                                            <h3 class="mb-4"><a href="#">Romolu to stay at Real Nadrid?</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus
                                                deserunt saepe tempora dolorem.</p>
                                            <p><a href="#">Read more</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% block body %} {% endblock %}

                        <footer class="footer-section">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="widget mb-3">
                                            <h3>Our Sponsors</h3>
                                            <ul class="list-unstyled links">
                                                <li><a href="#">United Colors of Benetton</a></li>
                                                <li><a href="#">Glucon-D</a></li>
                                                <li><a href="#">Decathlon</a></li>
                                                <li><a href="#">Nehru Memorial Techno Global Hospital</a></li>
                                                <li><a href="#">Aajkal.in</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="widget mb-3">
                                            <h3>Our other ventures</h3>
                                            <ul class="list-unstyled links">
                                                <li><a href="#">Hatchlab Innovations</a></li>
                                                <li><a href="#">Athleet Jr. Programme</a></li>
                                                <li><a href="#">Contact &amp; Booking</a></li>
                                                <li><a href="#">Tickets</a></li>
                                                <li><a href="#">Coupon</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="widget mb-3">
                                            <h3>Matches</h3>
                                            <ul class="list-unstyled links">
                                                <li><a href="#">Standings</a></li>
                                                <li><a href="#">World Cup</a></li>
                                                <li><a href="#">La Lega</a></li>
                                                <li><a href="#">Hyper Cup</a></li>
                                                <li><a href="#">World League</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="widget mb-3">
                                            <h3>Social</h3>
                                            <ul class="list-unstyled links">
                                                <li><a href="#">Twitter</a></li>
                                                <li><a href="#">Facebook</a></li>
                                                <li><a href="#">Instagram</a></li>
                                                <li><a href="#">Youtube</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                                <div class="row text-center">
                                    <div class="col-md-12">
                                        <div class=" pt-5">
                                            <p>
                                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                                Copyright &copy;
                                                <script>
                                                    document.write(new Date().getFullYear());
                                                </script> All rights reserved | This template is made with <i
                                                    class="icon-heart" aria-hidden="true"></i>
                                                by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </footer>



                    </div>
                    <!-- .site-wrap -->

                    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
                    <script src="{{ url_for('static', filename='js/jquery-migrate-3.0.1.min.js') }}"></script>
                    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
                    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
                    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
                    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
                    <script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>
                    <script src="{{ url_for('static', filename='js/jquery.countdown.min.js') }}"></script>
                    <script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
                    <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
                    <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
                    <script src="{{ url_for('static', filename='js/jquery.fancybox.min.js') }}"></script>
                    <script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
                    <script src="{{ url_for('static', filename='js/jquery.mb.YTPlayer.min.js') }}"></script>


                    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
                    <script src="#"></script>

</body>

</html>